@CHARSET "UTF-8";
.btncss {
	 margin-top: 15px;
    height: 28px;
    text-algin: center;
    background-color: #009694;
    cursor: pointer;
    margin-left: 77%;
    padding: 0px 12px 0px 12px;
    /* float: left; */
    border: 1px solid #e8e8e8;
}


 .uploadFilePic{
  background: url(../image/fujian.png) no-repeat center;
   width: 24px;
      position: absolute;
  height: 23px;
  display: block;
  background-size: 70%;
  vertical-align: middle;
   margin-left: 236px;;
  border: 1px solid;
  border-left: 0px;
  border-color: rgba(60, 60, 60, 0.4) !important;
  cursor:pointer;
}  




.words {
	font-size: 16px;
	vertical-align: middle;
	color: #ffffff;
}
